<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="info.androidhive.loginandregistration"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="21" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.LOCATION_HARDWARE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".app.AppController"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppBaseTheme">
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".activity.LoginActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.RegisterActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.Register2Activity"
            android:label="@string/title_activity_register2"
            android:parentActivityName=".activity.RegisterActivity"
            android:theme="@style/AppBaseTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="info.androidhive.loginandregistration.activity.RegisterActivity" />
        </activity>
        <activity
            android:name=".activity.Viewdoctor"
            android:exported="true" />
        <activity
            android:name=".activity.Locationact"
            android:exported="true" />
        <activity android:name=".activity.Location2" />
        <activity android:name=".activity.ShowLocationActivity" />
        <activity
            android:name=".activity.DoctorProfile"
            android:exported="true" />
        <activity
            android:name=".activity.BottomNav"
            android:label="@string/title_activity_bottom_nav"
            android:exported="true" ></activity>
    </application>

</manifest>